
.md-typeset h1 {
    margin: 0 0 px2em(40px, 32px);
    color: var(--md-default-fg-color--light);
    font-weight: 350;
    font-size: px2em(32px);
    line-height: 1.3;
    letter-spacing: -0.01em;
}

